@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Hogeschool PXL<br />
    Elfdelinie 11, 3500 Hasselt<br />
    <abbr title="Phone">P:</abbr>
    00.000.000
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>
