@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>WebEncryptor</h1>
    <p>Encrypt and Decrypt files safely!</p>
    <p>New! Hide files in photos!</p>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Encrypt</h2>
        <p>Add red button here</p>
    </div>
    <div class="col-md-3">
        <h2>Decrypt</h2>
        <p>Add red button here</p>
    </div>
    <div class="col-md-3">
        <h2>Help</h2>

    </div>
    <div class="col-md-3">
        <h2>About</h2>

    </div>
</div>
