
@{
    ViewData["Title"] = "_UploadFile";
}

<h2>Upload File</h2>

<div>
    <form>
        <a>
            <div class="filePicker">
                <p>Choose or drag File</p>
            </div>
        </a>
        <br />
        <button class="customButton">Submit</button>
    </form>
</div>