
@{
    ViewData["Title"] = "_UploadHidor";
}

<h2>Hide text in images</h2>

<div>
    <form>
        <a>
            <div class="filePicker">
                <p>Choose or Drag Image</p>
            </div>
        </a>
        <br />
        <h3>Text</h3>
        <textarea class="hidorText"></textarea>
        <br />
        <button class="customButton">Hide</button>
        <button class="customButton">Extract</button>
    </form>
</div>

<div>
    <h3>Help</h3>
    <p>Press hide to hide a text in an image. A download link will be presented.</p>
    <p>Press extract to find hidden text in an image.</p>
</div>