
@{
    ViewData["Title"] = "_UploadFile";
}

<h2>Upload File</h2>

<div>
    <a>
        <div>
            <p>Choose or drag File</p>
        </div>
    </a>

    <button>Submit</button>
</div>